<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="utf-8">
    <title>Bluemix Reference Architecture Application</title>
</head>
<body class="home">
    <div class="container">
      {{{body}}}
    </div>
    <!--  <script src="/static/js/jquery.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" charset="utf-8"></script> -->
</body>
</html>