        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">getBalance<span class="sr-only">(current)</span></a></li>
                    <li><a href="gettransaction">getTransaction</a></li>
                    <li><a href="getchecking">getChecking</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav> 
        <article class="textLeft" id="main">
            <h1>Get Account Balance</h1>
            <p>Enter details below and then click "Submit"</p>
            <form method="POST" id="testForm">
                <div class="form-group">
                    <label for="accountnumber">Account number: (e.g 70001)</label>
                    <input type="accountnumber" class="form-control" id="accountnumber">
                </div>
                <div class="form-group">
                    <label for="coid">coid: (e.g 11</label>
                    <input type="coid" class="form-control" id="coid">
                </div>
                <div class="form-group">
                    <label for="accounttype">Account type: (e.g DDA or CDA or RSV</label>
                    <input type="accounttype" class="form-control" id="accounttype">
                </div>
                <button type="submit" id="submitButton" class="btn btn-default">Call Action</button>
                <div class="form-group">
                    <label for="jsonreturned">Returned JSON Payload:</label>
                    <textarea class="form-control" rows="8" id="jsonreturned"></textarea>
                </div>
            </form>
            <section id="post-results-container">
              <!-- <h2>JSON Payload</h2>
              <p>Data returned from getAccount</p> -->
              <ul class="data"></ul>
            </section>
        </article>
      <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
      <script type="text/javascript" src="js/form-handler.js"></script>
      <script src="js/bootstrap.js" charset="utf-8"></script>